 .nav {
     height: 30%;
     width: 8%;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: #111;
     overflow-x: hidden;
     padding-top: 20px;
 }

 .nav a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 20px;
     color: #818181;
     display: block;
     border: none;
     background: none;
     width: 100%;
     text-align: left;
     cursor: pointer;
     outline: none;
 }

 .nav a:hover {
     background: #7510F7;
     text-decoration: none;
     color: white;
 }

 .icon {
     display: none;
 }

 @media screen and (max-width: 800px) {
     .nav {
         width: 100%;
         background-color: #7510F7;
         max-height: 8%;
     }
     .nav a {
         display: none;
     }
     .nav button {
         display: table-cell;
         margin-left: 85%;
         font-size: 24px;
         background: none;
         border: none;
         margin-top: -5%;
     }
 }