.App {
  text-align: center;
}

.app-wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr 60px;
  grid-template-areas: "h h h h h" "c c c c c" "c c c c c" "c c c c c" "c c c c c" " f f f f f";
}

.content {
  width: 100%;
  background-color: black;
  grid-area: c;
  display: inline-table;
}

.section {
  border-bottom: 1px solid #7510F7;
}

.heading {
  text-align: center;
  color: white;
}

h3 {
  color: #7510F7;
}

@media only screen and (max-width: 800px) {
  .heading {
    text-align: center;
  }
  h3 {
    width: 40%;
  }
}