     .body {
       height: 60.5rem;
       grid-area: h;
       background: black;
       border-bottom: 1px solid #7510F7;
     }

     .text {
       text-transform: uppercase;
       padding-top: 390px;
       font-size: 56px;
       text-align: center;
       color: white;
     }

     .name {
       width: 20%;
       margin: 0 auto;
       border-bottom: 1px solid white;
       border-color: #7510F7;
     }

     @media only screen and (max-width: 800px) {
       .name {
         margin-top: -50%;
         text-align: center;
         width: 100%;
       }
       .body {
         height: 100%;
         padding-bottom: 70%;
       }
     }